<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="moe.shizuku.privileged.api" />
        <package android:name="moe.shizuku.manager" />
    </queries>

    <application>
        <!-- OneLink：官方 Shizuku Provider；OneBridge/Resident/六位码 Receiver 仅在 onekuku Manifest -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
